.card-body {
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#carouselExample{
    margin-top: 50px;
      max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
    
}